body{
    font-family: Arial, sans-serif;
    background-color: #eaecee;
}

.registration-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(112, 190, 231);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 15px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    width: 45%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}
 

.center-text {
    text-align: center;
}