body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 3px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    width: 45%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.center-text {
    text-align: center;
}
