body {
    font-family: Arial, sans-serif;
    background-color: #eaecee;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #007BFF; /* Sky-blue background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #333; /* Text color */
}

h1 {
    text-align: center;
    color: #fff; /* White header text color */
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* White label text color */
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #fff; /* White input background color */
}

input[type="submit"],
input[type="reset"] {
    width: 45%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}

.center-text {
    text-align: center;
}
